<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<html>
<head>
	<title> Next-Door Neighbour </title>
</head>


<body>
	<div class="nav row">
		<div class="row" style="max-width: 1920px; margin: auto">
			<div class="col-lg-1"> </div>
				<a href = '/'>
					<div class="nav_text hidden-xs hidden-sm hidden-md col-lg-1 align-self-center"> 
						Nextdoor Neighbour
					</div>
					<div class="col-lg-1">
						<img class="nav_logo" src="{{url_for('static', filename='images/logo.png')}}"> </img>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div> {% block content %} {% endblock %} </div>
</body>
</html>
