{% extends 'base.html' %}
{% block content %}

	<script src="{{url_for('static', filename='js/home_page.js')}}"> </script>

	<div class="home_landing row">
		<div class="row" style="max-width: 1920px; margin: auto">
			<div class="col-lg-8 col-xs-12" style="border: 2px solid red">
				<h1> Evolutionary analysis of coronavirus genome to prevent the next pandemic </h1>
			</div>
			<div class="col-lg-4 col-xs-12" style="border: 2px solid red">
				<img class="home_illustration" src="{{url_for('static', filename='images/home-illustration.png')}}"> </img>
			</div>
		</div>
	</div>

	<section class="home_select row">
		<div style="max-width: 1920px; margin: auto">
			<div class="home_select_instructions row"> 
				<h1> Please select two animals of interest for genome comparison. </h1>
			</div>

			<div class="row" style="border: 2px solid red;">

				{% for animal in animals %}
					<div class="col-lg-4 col-xs-12" style="border: 2px solid red">
						<img class="home_icons" id={{animal}} src="{{url_for('static', filename='images/' + animal + '.png')}}" onclick="iconClickHandler(this)"> </img>
					</div>
				{% endfor %}
			</div>
			<div class="home_select_submit row">
				<div class="col-lg-5"> </div>
				<div class="col-lg-2">
					<button class="button onclick="getResultClickHandler(this)"> enter </button>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}
